.city-card-color {
    background-color :#E07A5F;
    width: 200px;
    height: 160px;
    text-align: center;
    border-radius: 8px;
 }
 .b-color {
    background-color :#E07A5F;
 }

 .color {
    color :#E07A5F;
    padding-top: 50px;
    }
    .d-flex {
       display: flex;
      
       justify-content: space-between;
       /* text-align: center; */
    }
    
    .pd {
       padding-left: 200px;
    }
    
    .title{
       font-size: 30px;
       color: #ffffff;
       padding-left: 26px;
       padding-bottom: 6px;
    }

    .btn {
        margin-top: 20px;
        margin-left: 50px;
        width: 100px;
    }