.card {
    background-color :#E07A5F;
    width: 580px;
    height: 160px;
    text-align: center;
    border-radius: 8px;

 }
 .pd {
    padding-left: 200px;
 }

 .tab {
    width: 800px;
    padding-top: 30px;
    padding-left: 235px;
    padding-bottom:50px;
 }

 .color {
    color :#E07A5F;
    }

    .h-title {
        display: flex;
        justify-content: space-between;
        padding-right: 645px;

    }
    .div {
        display: flex;
        justify-content: space-between;
        padding-right: 180px;
        padding-bottom: 20px;
    }

    .h1{
        color :#E07A5F;
        padding-left: 520px;
        padding-top: 50px;
    }