.city-card-color {
    background-color :#E07A5F;
    width: 220px;
    height: 160px;
    text-align: center;
    border-radius: 8px;
 }
 .b-color {
    background-color :#E07A5F;
 }

 .color {
    color :#E07A5F;
    padding-top: 50px;
    }
    .d-flex {
       display: flex;
       justify-content: space-between;
       padding-right: 185px;
       padding-bottom: 30px;

    }
    
    .pd {
       padding-left: 200px;
    }
    
    .title{
       font-size: 30px;
       color: #ffffff;
       padding-left: 38px;
       padding-bottom: 6px;
    }

    .btn {
        margin-top: 25px;
        margin-left: 55px;
        width: 100px;
    }

    .text {
      padding-left: 38px;
    }

    .a{
      background-color: aqua;
    }