.app-color {
   background-color :#cdcccc
}
.city-card-color {
   background-color :#E07A5F;
   width: 200px;
   height: 200px;
   text-align: center;

}
.d-flex {
   display: flex;
   flex-direction: row;
}

.pd {
   padding-left: 200px;
}

.title{
   font-size: 30px;
}
