.b-color {
    background-color :#E07A5F;
    margin-left: 200px;
    margin-right: 180px;
    border-radius: 7px;
 }


 .input {
   margin-left: 400px;
   margin-top: 12px;
    width: 280px;

 }

 .back{
   padding-left: 340px;
   padding-top: 12px;
   color: white;
    font-size: 20px;
 }