.card {
    background-color :#E07A5F;
    width: 340px;
    height: 160px;
    text-align: center;
    justify-content: space-between;
    border-radius: 8px;
 }


 .color {
    color :#E07A5F;
    }

    .div {
        display: flex;
        justify-content: space-between;
        padding-right: 300px;
        padding-bottom: 20px;
    }